<% content_for(:page_header) do %>
  <%= "Teams" %>
<% end %>
<p id="notice"><%= notice %></p>

<div class="panel panel-default">
  <div class="panel-heading">
    Übersicht
    <div class= "nav navbar-right">
      <%= link_to new_team_path(), class: "btn btn-success btn-xs" do %>
                <i class="fa fa-plus"> Team hinzufügen </i>
      <% end %>
    </div>
  </div>
  <div class="panel-body">
    <table id="teams" class="display table" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>Name</th>
          <th>Shortcut</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @teams.each do |team| %>
          <tr>
            <td><%= team.name %></td>
            <td><%= team.shortcut %></td>
            <td class="action-buttons">
              <%= link_to edit_team_path(team), class: "btn btn-primary btn-xs" do %>
                <i class="fa fa-pencil"></i>
                <% end %>
              <%= link_to team,method: :delete, data: { confirm: 'Sind Sie sicher ?' }, class: "btn btn-danger btn-xs" do %>
                  <i class="fa fa-trash"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<% content_for(:extra_scripts) do %>
  <script type="text/javascript">
    $(document).ready(function() {
      $('#teams').DataTable({
        responsive: true,
        language : {
          lengthMenu: "Zeige _MENU_ pro Seite",
          zeroRecords: "Sorry, nichts gefunden",
          info: "Seite _PAGE_ von _PAGES_",
          infoEmpty: "Keine Datensätze verfügbar",
          infoFiltered: "(gefiltert aus _MAX_ Datensätzen gesamt)",
          search: "Suche: ",
          paginate: {
              next:       "Nächster",
              previous:   "Voriger"
          },
        }
      });
    });
  </script>
<% end %>
