<div class="panel panel-default">
  <div class="panel-heading">
    Passwort zurücksetzen
  </div>
  <div class="panel-body">
    <div class="authform">
      <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :role => 'form'}) do |f| %>
        <p>Wir werden Ihnen eine Mail mit der Anleitung zum Zurücksetzen des Passworts senden.</p>
        <%= devise_error_messages! %>
        <div class="form-group">
          <%= f.label :Email %>
          <%= f.email_field :email, :autofocus => true, class: 'form-control' %>
        </div>
         <%= f.submit 'Passwort zurücksetzen', :class => 'btn btn-lg btn-success btn-block' %>
      <% end %>
    </div>
  </div>
</div>
