<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cockpit Portal</title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Cockpit Portal" %>">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</head>

<body>
  <div id="wrapper" class="">
    <% if current_user then %>
      <%= render 'layouts/navbar' %>
    <% end %>
  </div>

  <div id="page-wrapper">
    <%= render 'layouts/title' %>
    <%= render 'layouts/messages' %>

    <div>
      <%= yield %>
    </div>
  </div>
</body>
<%= content_for?(:extra_scripts) ? yield(:extra_scripts) : nil %>
</html>
